<nav class="sidenav shadow-right sidenav-light bg-sidebar">
  <div class="sidenav-menu">
    <div class="nav accordion" id="accordionSidenav">
      <!-- Sidenav Menu Heading (Account)-->
      <!-- * * Note: * * Visible only on and above the sm breakpoint-->
      <div class="sidenav-menu-heading d-sm-none">Account</div>
      <!-- Sidenav Link (Alerts)-->
      <!-- * * Note: * * Visible only on and above the sm breakpoint-->
      <a class="nav-link d-sm-none" href="#!">
        <div class="nav-link-icon"><i data-feather="bell"></i></div>
        Alerts
        <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
      </a>
      <!-- Sidenav Link (Messages)-->
      <!-- * * Note: * * Visible only on and above the sm breakpoint-->
      <a class="nav-link d-sm-none" href="#!">
        <div class="nav-link-icon"><i data-feather="mail"></i></div>
        Messages
        <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
      </a>
      <!-- Sidenav Heading (Addons)-->
      <div class="sidenav-menu-heading">Principal</div>


      <!--      Link area personal-->
      <a class="nav-link" routerLink="index">
        <div class="nav-link-icon">
          <img class="icon-sidebar" src="assets/img/modules/dashboard.svg">
        </div>
        Área personal
      </a>

      <!--MedLife Modulo-->
      <div class="sidenav-menu-heading">Accesibilidad</div>
      <a aria-controls="collapseFlows" aria-expanded="false" class="nav-link collapsed" data-bs-target="#collapseFlows"
         data-bs-toggle="collapse" href="javascript:void(0);">
        <div class="nav-link-icon"><img alt="medlife_icon" class="icon-sidebar" src="assets/img/apps/hospital.svg">
        </div>
        MedLife
        <div class="sidenav-collapse-arrow">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>
      <div class="collapse" data-bs-parent="#accordionSidenav" id="collapseFlows">
        <nav class="sidenav-menu-nested nav">
          <a class="nav-link" href="multi-tenant-select.html"><img class="icon-sidebar icon-sidebar-submenu"
                                                                   src="assets/img/modules/medical/doctor.svg">Productos | Servicios</a>
          <a class="nav-link" href="multi-tenant-select.html"><img class="icon-sidebar icon-sidebar-submenu"
                                                                   src="assets/img/modules/medical/patient.svg">Pacientes</a>
          <a class="nav-link" href="multi-tenant-select.html"><img class="icon-sidebar icon-sidebar-submenu"
                                                                   src="assets/img/modules/medical/history-medical.svg">Expedientes</a>
          <a class="nav-link" href="multi-tenant-select.html"><img class="icon-sidebar icon-sidebar-submenu"
                                                                   src="assets/img/modules/medical/doctor.svg">Catálogo médico</a>
        </nav>
      </div>

      <!-- Sidenav Heading (UI Toolkit)-->
      <div class="sidenav-menu-heading">Configuración</div>

      <!--      EMPRESA-->
      <a aria-controls="collapseComponents" aria-expanded="false" class="nav-link collapsed"
         data-bs-target="#collapseComponents" data-bs-toggle="collapse" href="javascript:void(0);">
        <div class="nav-link-icon"><img class="icon-sidebar"
                                        src="../../../assets/img/modules/setting/business/office.svg"></div>
        Empresa
        <div class="sidenav-collapse-arrow">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>
      <div class="collapse" data-bs-parent="#accordionSidenav" id="collapseComponents">
        <nav class="sidenav-menu-nested nav">
          <a class="nav-link" href="alerts.html">
            <mat-icon class="icon-sidebar-submenu text-primary">insert_chart_outlined</mat-icon>
            Datos generales</a>
          <a class="nav-link" href="alerts.html">
           <img src="assets/img/modules/setting/business/employees.svg" class="icon-sidebar-submenu icon-sidebar">
            Empleados</a>
        </nav>
      </div>


      <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
         data-bs-target="#collapseLayouts" data-bs-toggle="collapse" href="javascript:void(0);">
        <div class="nav-link-icon"><img class="icon-sidebar" src="assets/img/modules/setting/security/security.svg">
        </div>
        Seguridad
        <div class="sidenav-collapse-arrow">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>
      <div class="collapse" data-bs-parent="#accordionSidenav" id="collapseLayouts">
        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavLayout">
          <!-- Nested Sidenav Accordion (Layout -> Navigation)-->
          <a aria-controls="collapseLayoutSidenavVariations" aria-expanded="false" class="nav-link collapsed"
             data-bs-target="#collapseLayoutSidenavVariations" data-bs-toggle="collapse"
             href="javascript:void(0);">
            <img class="icon-sidebar-submenu icon-sidebar" src="assets/img/modules/setting/security/users.svg">
            Usuarios
            <div class="sidenav-collapse-arrow">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
          </a>
          <div class="collapse" data-bs-parent="#accordionSidenavLayout" id="collapseLayoutSidenavVariations">
            <nav class="sidenav-menu-nested nav">
              <a class="nav-link" routerLink="/user-list">
                <mat-icon class="icon-sidebar-submenu">assignment_ind</mat-icon>
                Accesos</a>
              <a class="nav-link" href="layout-dark.html"><img class="icon-sidebar icon-sidebar-submenu"
                                                               src="assets/img/modules/setting/security/user-group.svg">Grupos</a>
            </nav>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- Sidenav Footer-->
  <div class="sidenav-footer">
    <div class="sidenav-footer-content">
      <div class="sidenav-footer-subtitle">Conectado como:</div>
      <div class="sidenav-footer-titles">Usuario de prueba</div>
    </div>
  </div>
</nav>
