<nav class="sidenav shadow-right sidenav-light bg-sidebar">
  <div class="sidenav-menu">
    <div class="nav accordion" id="accordionSidenav">
      <!-- Sidenav Menu Heading (Account)-->
      <!-- * * Note: * * Visible only on and above the sm breakpoint-->
      <div class="sidenav-menu-heading d-sm-none">Account</div>
      <!-- Sidenav Link (Alerts)-->
      <!-- * * Note: * * Visible only on and above the sm breakpoint-->
      <a class="nav-link d-sm-none" href="#!">
        <div class="nav-link-icon"><i data-feather="bell"></i></div>
        Alerts
        <span class="badge bg-warning-soft text-warning ms-auto">4 New!</span>
      </a>
      <!-- Sidenav Link (Messages)-->
      <!-- * * Note: * * Visible only on and above the sm breakpoint-->
      <a class="nav-link d-sm-none" href="#!">
        <div class="nav-link-icon"><i data-feather="mail"></i></div>
        Messages
        <span class="badge bg-success-soft text-success ms-auto">2 New!</span>
      </a>
      <!-- Sidenav Heading (Addons)-->
      <div class="sidenav-menu-heading">Principal</div>


      <!--      Link area personal-->
      <a class="nav-link" routerLink="index">
        <div class="nav-link-icon">
          <img class="icon-sidebar" src="assets/img/modules/dashboard.svg">
        </div>
        Área personal
      </a>

      <!--Aplicaciones permitidas-->
      <div class="sidenav-menu-heading">Accesibilidad</div>
      <a aria-controls="collapseFlows" aria-expanded="false" class="nav-link collapsed" data-bs-target="#collapseFlows"
         data-bs-toggle="collapse" href="javascript:void(0);">
        <div class="nav-link-icon"><img alt="medlife_icon" class="icon-sidebar" src="assets/img/apps/hospital.svg">
        </div>
        MedLife
        <div class="sidenav-collapse-arrow">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>
      <div class="collapse" data-bs-parent="#accordionSidenav" id="collapseFlows">
        <nav class="sidenav-menu-nested nav">
          <a class="nav-link" href="multi-tenant-select.html"><img class="icon-sidebar icon-sidebar-submenu"
                                                                   src="assets/img/modules/medical/patient.svg">Pacientes</a>
          <a class="nav-link" href="multi-tenant-select.html"><img class="icon-sidebar icon-sidebar-submenu"
                                                                   src="assets/img/modules/medical/history-medical.svg">Expedientes</a>
          <a class="nav-link" href="multi-tenant-select.html"><img class="icon-sidebar icon-sidebar-submenu"
                                                                   src="assets/img/modules/medical/doctor.svg">Médicos</a>
        </nav>
      </div>

      <!-- Sidenav Heading (UI Toolkit)-->
      <div class="sidenav-menu-heading">Configuración</div>

      <!--      EMPRESA-->
      <a aria-controls="collapseComponents" aria-expanded="false" class="nav-link collapsed"
         data-bs-target="#collapseComponents" data-bs-toggle="collapse" href="javascript:void(0);">
        <div class="nav-link-icon"><img src="../../../assets/img/modules/setting/business/office.svg" class="icon-sidebar"></div>
        Empresa
        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
      </a>
      <div class="collapse" data-bs-parent="#accordionSidenav" id="collapseComponents">
        <nav class="sidenav-menu-nested nav">
          <a class="nav-link" href="alerts.html"><mat-icon class="icon-sidebar-submenu text-primary">insert_chart_outlined</mat-icon>Datos generales</a>
        </nav>
      </div>


      <a aria-controls="collapseLayouts" aria-expanded="false" class="nav-link collapsed"
         data-bs-target="#collapseLayouts" data-bs-toggle="collapse" href="javascript:void(0);">
        <div class="nav-link-icon"><img class="icon-sidebar" src="assets/img/modules/setting/security/security.svg"></div>
        Seguridad
        <div class="sidenav-collapse-arrow">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
      </a>
      <div class="collapse" data-bs-parent="#accordionSidenav" id="collapseLayouts">
        <nav class="sidenav-menu-nested nav accordion" id="accordionSidenavLayout">
          <!-- Nested Sidenav Accordion (Layout -> Navigation)-->
          <a aria-controls="collapseLayoutSidenavVariations" aria-expanded="false" class="nav-link collapsed"
             data-bs-target="#collapseLayoutSidenavVariations" data-bs-toggle="collapse"
             href="javascript:void(0);">
            Roles de operación
            <div class="sidenav-collapse-arrow">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
          </a>
          <div class="collapse" data-bs-parent="#accordionSidenavLayout" id="collapseLayoutSidenavVariations">
            <nav class="sidenav-menu-nested nav">
              <a class="nav-link" href="layout-static.html">Static Sidenav</a>
              <a class="nav-link" href="layout-dark.html">Dark Sidenav</a>
              <a class="nav-link" href="layout-rtl.html">RTL Layout</a>
            </nav>
          </div>
          <!-- Nested Sidenav Accordion (Layout -> Container Options)-->
          <a aria-controls="collapseLayoutContainers" aria-expanded="false" class="nav-link collapsed"
             data-bs-target="#collapseLayoutContainers" data-bs-toggle="collapse" href="javascript:void(0);">
            Empleados
            <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" data-bs-parent="#accordionSidenavLayout" id="collapseLayoutContainers">
            <nav class="sidenav-menu-nested nav">
              <a class="nav-link" href="layout-boxed.html">Boxed Layout</a>
              <a class="nav-link" href="layout-fluid.html">Fluid Layout</a>
            </nav>
          </div>
          <!-- Nested Sidenav Accordion (Layout -> Page Headers)-->
          <a aria-controls="collapseLayoutsPageHeaders" aria-expanded="false" class="nav-link collapsed"
             data-bs-target="#collapseLayoutsPageHeaders" data-bs-toggle="collapse"
             href="javascript:void(0);">
            Page Headers
            <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" data-bs-parent="#accordionSidenavLayout" id="collapseLayoutsPageHeaders">
            <nav class="sidenav-menu-nested nav">
              <a class="nav-link" href="header-simplified.html">Simplified</a>
              <a class="nav-link" href="header-compact.html">Compact</a>
              <a class="nav-link" href="header-overlap.html">Content Overlap</a>
              <a class="nav-link" href="header-breadcrumbs.html">Breadcrumbs</a>
              <a class="nav-link" href="header-light.html">Light</a>
            </nav>
          </div>
          <!-- Nested Sidenav Accordion (Layout -> Starter Layouts)-->
          <a aria-controls="collapseLayoutsStarterTemplates" aria-expanded="false" class="nav-link collapsed"
             data-bs-target="#collapseLayoutsStarterTemplates" data-bs-toggle="collapse"
             href="javascript:void(0);">
            Starter Layouts
            <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
          </a>
          <div class="collapse" data-bs-parent="#accordionSidenavLayout" id="collapseLayoutsStarterTemplates">
            <nav class="sidenav-menu-nested nav">
              <a class="nav-link" href="starter-default.html">Default</a>
              <a class="nav-link" href="starter-minimal.html">Minimal</a>
            </nav>
          </div>
        </nav>
      </div>


      <!-- Sidenav Accordion (Utilities)-->
      <a aria-controls="collapseUtilities" aria-expanded="false" class="nav-link collapsed"
         data-bs-target="#collapseUtilities" data-bs-toggle="collapse" href="javascript:void(0);">
        <div class="nav-link-icon"><i data-feather="tool"></i></div>
        Utilities
        <div class="sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
      </a>
      <div class="collapse" data-bs-parent="#accordionSidenav" id="collapseUtilities">
        <nav class="sidenav-menu-nested nav">
          <a class="nav-link" href="animations.html">Animations</a>
          <a class="nav-link" href="background.html">Background</a>
          <a class="nav-link" href="borders.html">Borders</a>
          <a class="nav-link" href="lift.html">Lift</a>
          <a class="nav-link" href="shadows.html">Shadows</a>
          <a class="nav-link" href="typography.html">Typography</a>
          <a class="nav-link" href="typography.html">Typography</a>
        </nav>
      </div>
      <!-- Sidenav Heading (Addons)-->
      <div class="sidenav-menu-heading">Empresa</div>
      <!-- Sidenav Link (Charts)-->
      <a class="nav-link" routerLink='/user-list'>
        <div class="nav-link-icon"><i data-feather="bar-chart"></i></div>
        Seguridad
      </a>
      <!-- Sidenav Link (Tables)-->
      <a class="nav-link" routerLink="/user-role">
        <div class="nav-link-icon"><i data-feather="filter"></i></div>
        Roles
      </a>
    </div>
  </div>
  <!-- Sidenav Footer-->
  <div class="sidenav-footer">
    <div class="sidenav-footer-content">
      <div class="sidenav-footer-subtitle">Logged in as:</div>
      <div class="sidenav-footer-title">Valerie Luna</div>
    </div>
  </div>
</nav>
